<html>
      <head>
            <meta charset="UTF-8">
            <TITLE>{{jeremy}}</title>
      </head>
      <body>
            <h1>{{jeremy}}</h1>
            <h3>Text Description Here</h3>
            <img src="https://www.internasia.com/sites/default/files/beijing_china.jpg">
      </body>
</html>

